<div class="dashboard-container">
  <h1>Dashboard</h1>

  <div *ngIf="isAdmin">
    <h2>Admin Section</h2>
    <!-- User Table -->
    <table class="user-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of nonAdminUsers">
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role }}</td>
        </tr>
      </tbody>
    </table>
    <!-- Export PDF Button -->
    <button class="btn-export" (click)="exportUserListPDF()">
      Export User List to PDF
    </button>
  </div>

  <div *ngIf="isUser" class="dashboard">
    <h2>Welcome, {{ userName }}</h2>
    <button class="nav-btn" (click)="navigateToCustomerDetails()">
      Customer Details
    </button>
    <button class="nav-btn" (click)="navigateToServiceCategoryDetails()">
      Manage Service Category
    </button>
    <button class="nav-btn" (click)="navigateToTakeOrder()">Take Order</button>
    <button class="nav-btn" (click)="navigateTopdfDownlaod()">
      Download (Pdf) <br />Customer-Order Data
    </button>
  </div>

  <button class="btn-logout" (click)="logout()">Logout</button>
</div>
